<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Team</title>
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/all.css">
</head>
<body>
     <div class="head-c">
        <h2>{{>header}}</h2>
    </div>

    <div class="head-post">
      <h2>{{desc}}</h2>
    </div>
    
   <div class="container">


    <div class="card-content">
         <div class="card">
  <img src={{Img2}} alt="Avatar" style="width:100%">
  <div class="text-container">
    <h2>Name : {{Name}}</h2>
    <h2>Job : {{Job}}</h2>
     <h2>City : {{City}}</h2>
    <h2>Age : {{Age}}</h2> 
  </div>
</div>

 <div class="card">
  <img src={{Img1}} alt="Avatar" style="width:100%">
  <div class="text-container">
    <h2>Name : {{Name2}}</h2>
    <h2>Job : {{Job2}}</h2>
     <h2>City : {{City2}}</h2>
    <h2>Age : {{Age2}}</h2> 
  </div>
</div>

 <div class="card">
  <img src={{Img3}} alt="Avatar" style="width:100%">
  <div class="text-container">
    <h2>Name : {{Name3}}</h2>
    <h2>Job : {{Job3}}</h2>
     <h2>City : {{City3}}</h2>
    <h2>Age : {{Age3}}</h2> 
  </div>
</div>
    </div>



</div><!-- end container-->

  <div class="footer-c">
        <h2>{{>footer}}</h2>
    </div>
</body>
</html>